<mat-toolbar class="toolbar">
  <img class="logo" src="../../../../assets/logo.jpg" alt="Zenith Travel Logo">
  <a mat-button (click)="GoToHome()" class="header">Home</a>
  <div class="bar">
    <a mat-button (click)="GoToCircuits()" class="fas fa-file-alt"><span class="space"> Circuits </span></a>
    <a mat-button (click)="GoToExcurisons()" class="fas fa-file-alt"><span class="space"> Excursions </span></a>
    <a mat-button (click)="GoToAgence()" class="fas fa-file-alt"><span class="space"> Notre Agence </span></a>
    <a mat-button (click)="GotToContact()" class="fas fa-file-alt"><span class="space"> Contact Agence </span></a>
  </div>
</mat-toolbar>
